# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Jupyter / Colab
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Colab
drive/

# Others
test/test.*.py
*.zip
eval_colab.py